{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ordered by</th>
                        <th scope="col">Date</th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col">
                            <a href="{% url 'exportOrders' %}" class="btn btn-dark btn-sm">Export Orders</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.product.name}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.staff.username}}</td>
                        <td>{{order.date|date:"d/m/Y-H:i"}}</td>
                        <td>
                            {% if order.status == 'Pending' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'approve_order' order.id %}">Approve</a>
                            <a class="btn btn-dark btn-sm" href="{% url 'deny_order' order.id %}">Deny</a>
                            {% else %}
                            <span class="
                                {% if order.status == 'Approved' %}text-success font-weight-bold
                                {% elif order.status == 'Denied' %}text-danger font-weight-bold
                                {% elif order.status == 'Finished' %}text-primary font-weight-bold
                                {% endif %}">
                                    {{ order.status }}
                            </span>
                            {% endif %}
                        </td>

                        <td>
                            {% if order.status == 'Approved' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'finish_order' order.id %}">Return Items To Warehouse</a>
                            {% elif order.status == 'Finished' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'remove_order' order.id %}">Remove Order</a>
                            {% elif order.status == 'Denied' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'remove_order' order.id %}">Remove Order</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}