{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">

        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Order #</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ordered by</th>
                        <th scope="col">Time Of Order</th>
                        <th scope="col">Return Date</th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col">
                            <a href="{% url 'exportOrders' %}" class="btn btn-dark btn-sm">Export Orders</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.product.name}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.staff.username}}</td>
                        <td>{{order.date|date:"d/m/Y-H:i"}}</td>
                        {% if order.current_date|date:"d/m/Y" == order.day_before_return|date:"d/m/Y" and order.status == 'Approved' %}
                            <td style="color: black">{{ order.returnDate|date:"d/m/Y" }}<br>
                                <strong>Return Date Approaching!</strong>
                            </td>
                        {% elif order.current_date|date:"d/m/Y" == order.returnDate|date:"d/m/Y" and order.status == 'Approved' %}
                            <td style="color: red">{{ order.returnDate|date:"d/m/Y" }}<br>
                                <strong>Today is return day!</strong>
                            </td>
                        {% else %}
                        <td>{{ order.returnDate|date:"d/m/Y" }}</td>
                        {% endif %}
                        <td>
                            {% if order.status == 'Pending' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'approve_order' order.id %}">Approve</a>
                            <a class="btn btn-dark btn-sm" href="{% url 'deny_order' order.id %}">Deny</a>
                            {% else %}
                            <span class="
                                {% if order.status == 'Approved' %}text-success font-weight-bold
                                {% elif order.status == 'Denied' %}text-danger font-weight-bold
                                {% elif order.status == 'Finished' %}text-primary font-weight-bold
                                {% endif %}">
                                    {{ order.status }}
                            </span>
                            {% endif %}
                        </td>

                        <td>
                            {% if order.status == 'Approved' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'finish_order' order.id %}">Return Items To Warehouse</a>
                                <br>
                                {% if order.extendRequested == 'Pending' %}
                                <br>
                                <a class="btn btn-info btn-sm" href="{% url 'extend_approve_deny' order.id %}">Extend Request Has Been Made</a>
                                {% endif %}
                            <br>
                            {% elif order.status == 'Finished' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'remove_order' order.id %}">Remove Order</a>
                            <br>
                            {% elif order.status == 'Denied' %}
                            <a class="btn btn-dark btn-sm" href="{% url 'remove_order' order.id %}">Remove Order</a>
                            <br>
                            {% endif %}
                            
                            {% if order.is_reported %}
                                <br>
                                <a class="btn btn-danger btn-sm" href="{% url 'view_damage_report' order.id %}">Damage Reported - Click To View</a>
                            {% endif %}


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}