{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <input class="btn btn-success btn-block" type="submit" value="Add Product">

                </form>
            </div>
            

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Days To Loan</th>
                        <th scope="col">Activity</th>
                        <th scope="col">
                            <a href="{% url 'exportProducts' %}" class="btn btn-dark btn-sm">Export Products</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.sn}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.days}}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{% url 'dashboard-product-edit' item.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}