{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <input class="btn btn-success btn-block" type="submit" value="Add Product">

                </form>
            </div>
        </div>

        <div class="col-md-8">
            
            
            <div class="table-wrapper">
                            <table id="productTable" class="table bg-white">
              <thead class="bg-primary">
                <tr class="text-white">
                    <th scope="col">
                        <div class="dropdown">
                          <button class="btn btn-link text-white dropdown-toggle" type="button" id="categoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Categories
                          </button>
                          <div class="dropdown-menu" aria-labelledby="categoryButton">
                            <a class="dropdown-item" href="#" onclick="filterTableByCategory('')">All Categories</a>
                            {% for category in unique_categories %}
                            <a class="dropdown-item" href="#" onclick="filterTableByCategory('{{ category }}')">{{ category }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </th>
                  <th scope="col"><input type="text" placeholder="Name" id="searchInput">
                  <div class="results"></div></th>
                  <th scope="col">Serial Number</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Activity</th>
                  <th scope="col">
                    <a href="{% url 'exportProducts' %}" class="btn btn-dark btn-sm">Export Products</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr data-category="{{ item.category }}">
                  <td>{{ item.category }}</td>
                  <td class="product" id="{{item.name}}">{{ item.name }}</td>
                  <td>{{ item.sn }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>
                    <a class="btn btn-success btn-sm" href="{% url 'dashboard-product-edit' item.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

              </div>

          </div>
          
          <script>
            function filterTableByCategory(category) {
                document.getElementById('categoryButton').textContent = category !== '' ? category : 'All Categories';
              if (category === '') {
                $('#productTable tbody tr').show();
              } else {
                $('#productTable tbody tr').hide();
                $('#productTable tbody tr[data-category="' + category + '"]').show();
              }
            }
          </script>
        </div>

    </div>

</div>
<script>
  let productItems = document.querySelectorAll('.product');
  let productNames = [];
  let searchInput = document.querySelector("#searchInput")
  let resultsDiv = document.querySelector(".results");
  let results = []

  for(let i = 0; i < productItems.length; i++) {
    productNames.push(productItems[i].innerHTML);
  }

  searchInput.addEventListener("keyup", function(e) {
    if(e.target.value.length >= 3) {
      console.log(e.target.value);
      resultsDiv.classList.add("show");
      productNames.filter(item => {
        str = item.toLowerCase();
        if(str.match(e.target.value.toLowerCase())) {
          results.push(item);
        }
      })

      if(results) {
      resultsDiv.innerHTML = results.map(item => (`<a href="#${item}">${item}</a>`))
    }
    }
    
    else {
      resultsDiv.classList.remove("show");
      results.splice(0,results.length)
    }
  })

  
</script>

<style>
  #searchInput {
    position:relative;
    background-color: transparent;
    color: #FFF;
    border: 0;
    outline: 0;
  }

  #searchInput::placeholder {
    color: #FFF;
    opacity: 1;
  }

  .results {
    position:absolute;
    top:50px;
    left:0;
    height:300px;
    width:300px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    background-color: #FFF;
    color: black;
    list-style: none;
  }

  .show {
    display: flex !important;
    flex-direction: column;
  }

</style>



<!--End Table-->
{% endblock %}