<div class="container-fluid">
    {% load crispy_forms_tags %}
    <div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Make Request
                        
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-success" type="submit" value="Make Request">
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                            <div class="mr-3">
                                <a href="{% url 'reserve_studio' %}" class="btn btn-dark">Reserve Studio</a>
                            </div>
                            <div class="mr-3">
                                <a href="{% url 'send_request' %}" class="btn btn-warning">Out Of Stock Request</a>
                            </div>
                            <div>
                                <a href="{% url 'view_request_student' %}" class="btn btn-info">View Requests</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Order #</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Time Of Order</th>
                                    <th scope="col">Return Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                {% if order.staff == user %}
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td>{{order.product.category}}</td>
                                    <td>{{order.product.name}}</td>
                                    <td>{{order.product.sn}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.date|date:"d/m/Y-H:i"}}</td>
                                    
                                    {% if order.current_date|date:"d/m/Y" == order.day_before_return|date:"d/m/Y" and order.status == 'Approved' %}
                                        <td style="color: black">{{ order.returnDate|date:"d/m/Y" }}<br>
                                            <strong>Return Date Approaching!</strong>
                                            
                                        </td>
                                    {% elif order.current_date|date:"d/m/Y" == order.returnDate|date:"d/m/Y" and order.status == 'Approved' %}
                                        <td style="color: red">{{ order.returnDate|date:"d/m/Y" }}<br>
                                            <strong>Today is return day!<br></strong>
                                        </td>
                                    {% else %}
                                    <td>{{ order.returnDate|date:"d/m/Y" }}</td>
                                    {% endif %}

                                    <td>
                                        <span class="
                                        {% if order.status == 'Approved' %}text-success font-weight-bold
                                        {% elif order.status == 'Denied' %}text-danger font-weight-bold
                                        {% elif order.status == 'Finished' %}text-primary font-weight-bold
                                        {% elif order.status == 'Pending' %}text font-weight-bold
                                        {% endif %}">
                                            {{ order.status }}
                                        </span>
                                    </td>
                                    <td>
                                        {% if order.status != 'Pending' %}
                                            {% if not order.is_reported %}
                                                <a class="btn btn-dark btn-sm" href="{% url 'report_damage' order.id %}">Report Damage</a>
                                            {% else %}
                                            <strong>Damage Reported<strong>
                                            {% endif %}
                                            
                                        <br>
                                        {% endif %}
                                        {% if order.current_date|date:"d/m/Y" == order.day_before_return|date:"d/m/Y" and order.status == 'Approved' %}  
                                          <br>
                                          <a class="btn btn-dark btn-sm" href="{% url 'extend_order' order.id %}">Request Extend</a>
                                        {% elif order.current_date|date:"d/m/Y" == order.returnDate|date:"d/m/Y" and order.status == 'Approved' %}
                                          {% if order.extendRequested == 'NotRequested' %}
                                            <br>
                                            <a class="btn btn-dark btn-sm" href="{% url 'extend_order' order.id %}">Request Extend</a>
                                          {% elif order.extendRequested == 'Pending' %}
                                            <br>
                                            <span style="color: black;"><strong>Extend Request Pending<strong></span>
                                          {% elif order.extendRequested == 'Approved' %}
                                            <br>
                                            <span style="color: green;"><strong>Extend Request Has Approved<strong></span>
                                          {% elif order.extendRequested == 'Denied' %}
                                            <br>
                                            <span style="color: red;"><strong>Extend Request Has Denied<strong></span>
                                          {% endif %}
                                        {% endif %}
                                      </td>
                                      
                                    

                                </tr>



                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var categoryField = $('#id_category');
        var productField = $('#id_product');
        
        categoryField.on('change', function() {
            var selectedCategory = $(this).val();
            
            $.ajax({
                url: '/get_products_by_category/',
                type: 'GET',
                data: { category: selectedCategory },
                success: function(data) {
                    productField.empty();
                    $.each(data, function(key, value) {
                        productField.append($('<option>').text(value).attr('value', key));
                    });
                }
            });
        });
    });
</script>