{% extends 'partials/base.html' %}
{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Details</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    {% if customer.username != 'admin' %}
                      <tr>
                        <th scope="row"><a class="btn btn-dark btn-sm" href="{% url 'dashboard-staff-detail' customer.id %}">View</a></th>
                        <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                        <td>{{ customer.username }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}