{% extends 'partials/base.html' %}
{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a class="btn btn-primary btn-sm" href="">View</a></th>
                        <td>Mendi</td>
                        <td>Lirmak</td>
                        <td>Student</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}