{% extends 'partials/base.html' %}
{% block title %}Requests{% endblock %}
{% load crispy_forms_tags %}
{% block content %}



<div class="col-md-9 my-4 mx-auto">
    <div class="d-flex justify-content-center mb-3">
      <form method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'dashboard-index' %}">Back To Dashboard</a>
      </form>
    </div>

  <div class="table-responsive">
    {% if messages %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Product</th>
          <th>Serial Number</th>
          <th>Message</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          {% if message.is_visible_to_manager %}
            <tr>
              <td>{{ message.customer.username }}</td>
              <td>{{ message.product.name }}</td>
              <td>{{ message.product.sn }}</td>
              <td style="word-break: break-word;">{{ message.message }}</td>
              <td>{{ message.created_at }}</td>
              <td>
                <span class="
                {% if message.status == 'Approved' %}text-success font-weight-bold
                {% elif message.status == 'Denied' %}text-danger font-weight-bold
                {% elif message.status == 'Pending' %}text font-weight-bold
                {% endif %}">
                {{ message.status }}
                </span>
              
              </td>
              <td>
                {% if message.status == 'Pending' %}
                  <form method="post" action="{% url 'approve_request' message.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                  </form>
                  <form method="post" action="{% url 'deny_request' message.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Deny</button>
                  </form>
                {% elif message.status == 'Approved' or message.status == 'Denied' %}
                  <form method="post" action="{% url 'remove_request' message.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-sm">Remove</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% else %}
<h2>No new messages.</h2>
{% endif %}
{% endblock %}
