{% extends 'partials/base.html' %}
{% block title %}Products Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Damage Report Order #{{order.id}}</h3>
        <br>
        <p>Item: {{ order.product }}</p>
        <p>Serial Number: {{ order.product.sn }}</p>
        <p>Description Of Damage: {{ damage_report.description }}</p>
        <a class="btn btn-secondary" href="{% url 'dashboard-order' %}">Back To Dashboard</a>
    </div>
</div>
{% endblock %}